/* Variables de color */
:root {
  --color-1: rgb(34, 40, 49);
  --color-2: rgb(238, 238, 238);
  --color-3: rgb(118, 171, 174);
  --color-4: rgb(49, 54, 63);
  --color-5: rgba(9, 21, 28, 0.596);
}

.planos-container {
  color: var(--color-2);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  background-color: var(--color-1);
  margin: auto;
  margin-bottom:30px ;
  width: 90vw;
  height: 83vh;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.plano {
  width: 330px;
  height: 290px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
}

.imgcont{
  filter: blur(0px);
  overflow: hidden;
  width: 330px;
  height: 290px;
  border-radius: 5px;
  
}
.plainfo{
  position: relative;
  width: 330px;
  bottom: 155px;
  height: 140px;
  background-color: var(--color-4);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.plano .imagen-plano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.plano:hover .imagen-plano {
  filter: blur(5px)  brightness(0.5);
}
.mas:hover +.componentes-flotantes {
  display: block;  
  z-index: 2;
}
.componentes-flotantes:hover {
  display: block;  
  z-index: 2;
}
.componentes-flotantes {
  display: none;
  position: absolute;
  top: -100%;
  left: -10px;
  background-color: var(--color-4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.componentes-flotantes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.componentes-flotantes li {
  margin-bottom: 5px;
}

.componentes-flotantes li strong {
  display: block;
}
p,h2{
  margin: 15px;
}
.mas{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 77%;
  left: 90%;
  border-radius: 50%;
  font-size: large;
  background-color: transparent;
  border-style: solid;
  align-items: center;
}
.mas:hover{
  border-color: var(--color-2);
  color: var(--color-2);
}

.componentes-flotantes a{
  color:var(--color-1);
}
