:root {
    --color-1: rgb(34, 40, 49);
    --color-2: rgb(238, 238, 238);
    --color-3: rgb(118, 171, 174);
    --color-4: rgb(49, 54, 63);
  }

  .cateConten{
    background-color: var(--color-1);
    color: var(--color-2);
  }
    body{
        color: var(--color-2);
        overflow-x: hidden;
    }
    h1{
        text-align: center;
        font-size: xxxlarge;
        padding: 20px;
        background-color: var(--color-1);
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 5px;
    }
    div{
        border-radius: 5px;
    }

    form{
        padding-left: 20%;
        padding-right: 20%;  
    }
    

    

.formcot{
    background-color: var(--color-1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}

.gameopcion {
    display: none; /* Inicialmente oculto */
}

#juegos:checked ~ .gameopcion {
    display: block; /* Mostrar cuando el checkbox está marcado */
}

#juego{
    background-color: var(--color-3);
    padding: 10px;
}
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }

    #circular-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #000000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
        z-index: 999;
        transition: transform 0.5s, font-size 0.3s; /* Agregado para animar la rotación */
    }

    #circular-button:hover {
        background-color: #0056b3;
    }

    #popup {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 20px;
        background-color: #000000;
        border: 1px solid var(--color-3);
        border-radius: 5px;
        padding: 10px;
        z-index: 999;
        overflow: auto; /* Agregado para permitir el desplazamiento */
    }
    input {
        background: #222222;
        border: none;
        color: var(--color-3);
    }
    input[type="range"] {
        /* Estilos del riel */
        background-color: var(--color-3); /* Cambia este valor al color que desees */
        height: 5px; /* Alto del riel */
        border-radius: 5px; /* Bordes redondeados */
      }
    select{
        background: #222222;
        border: none;
        color: var(--color-3);
    }
    #popup textarea {
        width: 200px;
        height: 100px;
        resize: none;
        margin-bottom: 10px;
    }

    #popup button {
        background-color: #000000;
        border-style: solid;
        border-color: var(--color-3);
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    #popup button:hover {
        background-color: var(--color-3);
    }

    /* Agregado para rotar el botón cuando se muestra el popup */
    #circular-button.rotate {
        transform: rotate(45deg);
        font-size: 60px;
    }

    /* Agregado para el formato grid del fieldset */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
    }

    .cateConten {
        border: none;
        padding: 10px;
    }

    .slider-container {
        margin-top: 10px;
    }  
    
    .cateConten {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
    }

    /* Estilo cuando el checkbox está activo */
    .cateConten input:checked ~ .slider-container {
        background-color: lightgreen;
    }
