@import url(CSSs/prins.css);

.cateConten {
    background-color: var(--color-1);
    color: var(--color-2);
}

body {
    color: var(--color-2);
    overflow-x: hidden;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: xxxlarge;
    padding: 20px;
    background-color: var(--color-1);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

form {
    padding-left: 10%;
    padding-right: 10%;
}

.formcot {
    background-color: var(--color-1);
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.formcot label{
    width: 85%;
}


input {
    background: var(--color-4);
    border: none;
    color: var(--color-3);
}


select {
    background: var(--color-4);
    border: none;
    color: var(--color-3);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column: 1;
    grid-row: span 4 ;
}

.cateConten{
    border: none;
    padding: 10px;
}

.slider-container {
    margin-top: 10px;
}

.cateConten{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid --color-2;
    transition: background-color 0.3s ease;
}

.cateConten input:checked ~ .slider-container {
    background-color: lightgreen;
}

.cateConten input:checked {
    background-color: lightgreen;
}

.categoria {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    padding: 1vw;
    align-items: center;
}

.categoria .tooltip {
    visibility: hidden;
    width: 200px;
    background-color:var(--color-4);
    color: var(--color-2);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 120%; 
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.categoria:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.categoria:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.allform div {
    border-radius: 5px;
}
.allform {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
#preguntas_videojuegos{
    grid-gap: 10px;
    margin: 10px;
    grid-row: span 5;
}













.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 60px;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-2);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-3);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-3);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .respuesta{
    display: flex;
    flex-direction: column;
  }
  label.switch {
    width: 60px;
  }


  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: var(--color-1);
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--color-3);
    border-radius: 50%;
    cursor: pointer;
    top: -50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--color-4);
}

input[type="range"]::-webkit-slider-thumb:active {
    background: var(--color-4);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: var(--color-2);
  border-radius: 5px;
  cursor: pointer;
}

