:root {
  --color-1: rgb(34, 40, 49);
  --color-15: 34, 40, 49;
  --color-2: rgb(238, 238, 238);
  --color-3: rgb(118, 171, 174);
  --color-4: rgb(49, 54, 63);
}

body{
  overflow-x: hidden;
}

.imagen_con_botom {
    position: relative;
    display: flex;

}

.imagen_con_boton .botom {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-1); /* Cambia el color de fondo del botón según tu diseño */
    padding: 4vh 5vw; /* Ajusta el padding según sea necesario */
    color: var(--color-2); /* Cambia el color del texto del botón según tu diseño */
    text-decoration: none; /* Elimina el subrayado del texto */
}
a{
  border-radius: 5px;
}


.lema{
  position: absolute;
  color: var(--color-2);
  font-size: xxx-large;
  -webkit-text-stroke: 4px rgba(0, 0, 0, 0.295);
  top: 20%;
  right: 20vw;
  left: 20vw;
  width: 59vw;
  text-align: justify;
  word-wrap: break-word;
  text-align: center;
  z-index: 500;
}
.news{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  max-height: fit-content;
  margin: 2em auto;

  color: var(--color-2);
}
.news img{
  width: 10vw;
  filter: blur(0px)
}

.news-container {
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;

}
.news-container > div {
  flex: 0 0 auto;
  padding: 10px;
}

.newsInfo {
  padding: 10px;
  background-color: rgba(var(--color-15),0.5);
  width: 23vw; 
  
  margin: 0 auto;
  overflow-x: auto;
  color: var(--color-2);
  text-align: center;
  font-size: 1.2em;
}

.newsText {
  text-align: justify;
  word-wrap: break-word; /* Indica al navegador que rompa las palabras largas */
}

.fecha {
  font-size: x-small;
  text-align: right;
}

.pie{
  background-color:var(--color-1);
  color:var(--color-2);
  display: flex;
  flex-direction:row;
  align-items: center;
  text-align: center;
  height: 20vh;  
  justify-content: space-between;
  overflow: hidden;
}
.g{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 5px -3px rgba(255, 255, 255, 0.5), -5px 0 5px -3px rgba(255, 255, 255, 0.5);
  width: 33%;
  padding: 30px;
}

.gg{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 30px;
}
.pie p{
  font-size: small;
  text-align: justify;
}
.popup-planos {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1{
  font-size: small;
}
p{
  font-size: x-small;
}

.camino {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1000;
  background-color: #000000;
  color:rgba(226, 110, 0, 0.951);
}

.camino-contenido {
background-color: #000000;
}

.cerrar-camino {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.cerrar-camino{
  transform: rotate(45deg);
}

.InfoRECU{
  width: 100%;
  margin-left: auto; 
margin-right: auto; 
text-align: center; 
display:flex;
}
.imgtex{
  display: inline-block;
    vertical-align: top;
  filter: blur(0);
padding-left:20px;
padding: 20px;
   
}
 .textoexp{
  font-size: 35px;
  text-align: left;
  color:var(--color-2); ;
  max-width: 1000px; 
    max-height: 1500px;
    overflow: hidden;
}


.miCaminoContent{
  display: flex;  
}

.imagenesdesc{
  max-width: 1000px; 
    max-height: 2000px;
}
.inicio{
  display: grid;
  width: 100vw;
  height: 90vh;
  height: 120vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#der{
  grid-column: 1;
}
#izq{
  grid-column: 4;
  transform: scaleX(-1);
}
#centro{
 padding-bottom: 30vh;
  grid-column: 2/4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.imagenes-carrusel {
   /* Ajustar al ancho del contenedor */
  height: 100%; /* Ajustar a la altura deseada */
  overflow: hidden; /* Ocultar partes de las imágenes que se desborden */
  position: relative; /* Permitir el posicionamiento absoluto de las imágenes */
}

.carrusel {
 /* Ajustar al ancho del contenedor */
  height: 100%; /* Ajustar la altura automáticamente */
  position: absolute; /* Posicionar las imágenes encima unas de otras */
  top: 0;
  left: -50%;
  opacity: 0; /* Inicialmente ocultar todas las imágenes */
  transition: opacity 1s ease-in-out; /* Animar la opacidad */
  overflow: hidden;
  
}

.carrusel.mostrar {
  opacity: 1; /* Mostrar la imagen actual */
}
#der,#izq{
  align-items: center;
}