/* Variables globales */
:root {
  --color-1: rgb(34, 40, 49);
  --color-15: 34, 40, 49;
  --color-2: rgb(238, 238, 238);
  --color-3: rgb(118, 171, 174);
  --color-4: rgb(49, 54, 63);
}

/* Estilos del cuerpo */
body {
  overflow-x: hidden; 
  background: linear-gradient(to bottom, var(--color-4), var(--color-4), var(--color-1));
  font-family: sans-serif;
  background-repeat: no-repeat;
  width: 100%;
  
}

a {
  border-radius: 5px;
}

/* Lema */
.lema {
  position: absolute;
  color: var(--color-2);
  font-size: xxx-large;
  -webkit-text-stroke: 4px rgba(0, 0, 0, 0.295);
  top: 0%;
  right: 20vw;
  left: 20vw;
  width: 59vw;
  text-align: justify;
  word-wrap: break-word;
  text-align: center;
  z-index: 500;
}

/* Contenedor de noticias */
.news {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  max-height: fit-content;
  margin: 2em auto;
  color: var(--color-2);
}

/* Imagen de noticias */
.news img {
  width: 10vw;
  filter: blur(0px);
}

/* Contenedor de noticias */
.news-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Información de noticias */
.news-container > div {
  flex: 0 0 auto;
  padding: 10px;
}

/* Contenedor de información de noticias */
.newsInfo {
  padding: 10px;
  background-color: rgba(var(--color-15), 0.5);
  width: 23vw;
  color: var(--color-2);
  text-align: center;
  font-size: 1.2em;
}

/* Texto de noticias */
.newsText {
  text-align: justify;
  word-wrap: break-word;
}

/* Fecha de noticias */
.fecha {
  font-size: x-small;
  text-align: right;
}

/* Pie de página */
.pie {
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 20vh;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 5px 0 5px -3px rgba(255, 255, 255, 0.5), -5px 0 5px -3px rgba(255, 255, 255, 0.5);
}

/* Grupo de elementos */
.g {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 5px -3px rgba(255, 255, 255, 0.5), -5px 0 5px -3px rgba(255, 255, 255, 0.5);
  width: 33%;
  padding: 30px;
}

/* Grupo de elementos alternativo */
.gg {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 30px;
}

/* Estilos del pie de página */
.pie p {
  font-size: small;
  text-align: justify;
}

/* Popup de planos */
.popup-planos {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Títulos y texto general */
h1 {
  font-size: small;
}

p {
  font-size: x-small;
}

/* Contenedor de camino */
.camino {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 45%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  background-color: var(--color-4);
  padding: 20px;
  z-index: 1000;
  color: var(--color-3);
}
 .camino p{
  font-size: xx-large;
 }
.camino-contenido {
  background-color: var(--color-4);
  flex-direction: row;
}

.cerrar-camino {
  -webkit-touch-callout: none;
  color: var(--color-2);
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: xxx-large;
  transform: rotate(45deg);
}

.cerrar-camino:hover {
  color: var(--color-3);
}

/* Contenedor de información sobre recuadro */  
.InfoRECU_S{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .InfoRECU {
  display: flex;
  width: 90%;
  text-align: center;
  flex-direction: column;
  margin: 15px;
}

.imgtex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parrafo{
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 15px;
}


.textoexp {
  font-size: 35px;
  color: var(--color-2);
}

.imagenesdesc {
  max-width: 50vw; /* Ancho máximo relativo al viewport */
  max-height: calc(50vw * 870 / 1920);
}
/* Contenedor de imágenes y descripciones */


/* Diseño de la página de inicio */

#centro {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column-reverse;
  background-color: #f0f0f000;

}

/* Contenedor de carrusel de imágenes */

.carousel {
  width: 100%;
  height: 100vh; /* Altura deseada del carrusel */
  overflow: hidden;
  z-index: -200; /* Color de fondo del carrusel */
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out; /* Transición de desvanecimiento */
}

.carousel img.active {
  opacity: 1;
}

.carousel img:not(.active) {
  opacity: 0;
}
.botom{
  margin-bottom: 20vh;
}