
.fondo {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 110vw; /* Establece el ancho al 100% del ancho de la ventana */
  height: 110vh; /* Establece la altura al 100% del alto de la ventana */
  object-fit: cover; /* Ajusta el video para llenar el contenedor manteniendo su relación de aspecto */
}


@media screen and (max-width: 768px) {
  .fondo {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 110vw; /* Establece el ancho al 100% del ancho de la ventana */
    height: 110vh; /* Establece la altura al 100% del alto de la ventana */
    object-fit: cover; 
    transform: rotate(90deg);/* Rotamos 90 grados y movemos el elemento para que siga ocupando toda la pantalla */
  }
}



body {
    overflow: auto;
    margin: 0;
    background-color: rgba(59, 59, 59, 0);
    font-family: sans-serif;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
*::-webkit-scrollbar-thumb {
    background-color: chocolate; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
}
*::-webkit-scrollbar-track {
    background-color: 50; /* Color of the scrollbar track */
 /* Border radius of the scrollbar track */
}

.botom {
    margin: 10px;
    border: none;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .botom:hover{
    background-color: #ff8412;
    pointer-events: painted;
    color:black;
    padding: 60;
    margin-top: 15;
    font-size: xx-large;
  }

  .pie{
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    height: 20vh;
  }

hr{
    height: 80px;
}