:root {
--color-1: rgb(254, 250, 246);
--color-2: rgb(16, 44, 87);
--color-3: rgb(218, 192, 163);
--color-13: rgba(118, 171, 174,0.5);
--color-4: rgb(218, 192, 163);
}

body {
margin: 0;
padding: 0;
background: linear-gradient(to bottom, var(--color-4),var(--color-1));
z-index: -999;
overflow: hidden;
height: 100vh;
color: var(--color-2);
}
div{
border-radius: 5px;
}
.cont-ancla{
border-radius: 0px;
height: 100%;
padding-left: 5vw;
padding-right: 5vw;
padding-top: 8vh;
box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.5), -5px 0 5px -3px rgba(0, 0, 0, 0.5);
}
.cont-ancla > h1{
    position: relative;
    font-size: small;
}
.base {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100vw;
height: 90vh;
}

.opciones {
width: 20vw;
height: 100%;
}

.ventanas {
width: 165px;
height: 115px;
background-color: rgba(0, 140, 255, 0.24);
border: 3px dashed blue;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#newven {
height: 100%;
display: flex;
align-items: center;
opacity: 0.25;
z-index: -1;
pointer-events: none;
position: relative;
}


.ventana {
width: 155px;
height: 105px;
background-color: var(--color-4);
border: 3px solid --color-2;
position: absolute;
cursor: pointer;
display: flex;
align-items: center;
-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
padding: 3px;
opacity: 1;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
background-size:contain ; /* Ajusta la imagen para cubrir todo el div */
background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
background-position: center;
}



.anclaje {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 165px;
height: 115px;
background-color: var(--color-2);
border: 3px dashed var(--color-4);

z-index: 1;
margin: 5px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.ancla-elimina {
width: 165px;
height: 115px;
background-color: rgba(255, 0, 0, 0.3);
border: 3px dashed red;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
}

#trash {
height: 90%;
margin: auto;
opacity: 0.5;
z-index: -1;
pointer-events: none;
}

#cantidadVentanas {
width: 50px;
font-size: x-large; /* Cambia el valor según tu preferencia */
}


.gif-hover {
width: 10vw;
filter: grayscale(100%);
padding-top: 1vh;
}

.gif-hover:hover {
content: url('recursos/HAMMERG 2.gif');
filter: grayscale(100%);
}

/* Estilos adicionales para resaltar el efecto de hover */
.back-icon:hover {
background-color: #0056b3;
}

.fase1,.fase2,.fase3,.fase4,.fase5{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.fase5{
    background-color: var(--color-13);
}

/* Estilo para el botón */
button {
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s;
background-color: var(--color-4);
color: var(--color-2);

}

button:hover {
background-color: var(--color-3);
color: var(--color-2);
}

/* Estilos para selects */
select {
padding: 10px;
font-size: 16px;
border: 0px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
width: 20vw;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
background-color: var(--color-4);
color: var(--color-2);
}
select:hover{
    background-color: var(--color-3);
}
option{
    background-color: var(--color-1);
    border: var(--color-1);
}

/* Estilo para los selectores */
#categoriaSeleccionada,
#componenteSeleccionado {
margin-right: 5px;
}

.info {
max-width: 20%;
font-size: x-small;
display: grid;
grid-template-columns: 1fr 1fr;    
}
.cajaComp{
text-align: center;
padding: 5px;
margin: 5px;

}
.otog{
width: 100%;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fondarm{
    position: relative;
    top: -90%;
    z-index: -1;
    height: 100%;
}
  
.ventana img {
    pointer-events: none;
    position: relative;
    height: 100%;
    object-fit: cover;
    right: 40%;
}
  